<div class="about">
  <h4 class="title">ふぃろSophia</h4>
  当サイトは統計を取る時に用いる質問紙法をベースとし、<br>
  被験者を増やすことでより精度の高い論文を作るために<br>立ち上げたアンケートサイトです。<br>
　『ふぃろSophia』は、哲学を指す「philosophy」の<br>
  元々の語源である古典ギリシア語の<br>「フィロス（愛）」と「ソフィア（知）」が合わさった言葉<br>
  「フィロソフィア（知を愛する）」から名付けられました。<br>
　「論文を書くためにアンケートの協力をお願いしたい！」<br>
  「被験者数を増やしたい！」<br>
  「アンケートってどんな質問をしているの？」<br>
  といった要望に応え論文のお手伝いを致します。<br>
  アンケートに協力することは巡り巡ってこれからの<br>ご自身の成長にも繋がります。<br>
　最後に、このサイトをご利用されているということは<br>
  アンケートを作成する必要がある状況の人がほとんどだと思います。<br>
  あなたが作成しようとしているその作品は世界に一つだけの<br>特別な大切な成果物です！<br>
  その研究に自信を持っていきましょう！！<br>
</div>
